.app-wrapper {
  height: 10rem;
  aspect-ratio: 1/1;
  border: 0.15rem solid var(--border);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.app-wrapper:hover {
  cursor: pointer;
  filter: brightness(1.2);
  transform: scale(1.02);
}

.app-wrapper:active {
  transform: scale(1);
}

.app-icon {
  height: 6rem;
}

.app-title {
  font-size: 1rem;
  font-weight: 700;
}
