.api-status {
  padding: var(--element-padding);
  font-family: sans-serif;
  font-weight: bold;
  border-radius: var(--border-radius);
  text-align: center;
  margin: 1rem auto;
  border: var(--card-border);
  background-color: var(--card-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.api-status.loading p {
  color: var(--text-secondary);
}

.api-status.live p {
  color: var(--green);
}

.api-status.offline p {
  color: var(--red);
}
