.api-status {
  padding: 0.5rem 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 0.5rem;
  text-align: center;
  margin: 1rem auto;
  width: 13rem;
  border: 1px solid var(--border);
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.api-status.loading p {
  color: var(--light-gray);
}

.api-status.live p {
  color: var(--green);
}

.api-status.offline p {
  color: var(--red);
}
