.app {
  min-height: 100vh;
  max-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.apps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
